<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <div class="main">
        <h1>Página Inicial</h1>
        <button onclick="window.location.href='/clientes'">Clientes</button>
        <button onclick="window.location.href='/produtos'">Produtos</button>
        <button onclick="window.location.href='/cobrancas'">Cobranças</button>
        <button onclick="window.location.href='/clientes.html'">Ver Clientes</button>
    </div>
</body>
</html>